


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  box-sizing: border-box;
}



/************************/


/* to simulate the JS hide/show effects*/
/*-- on page load:

.results is display: none;
.player is display: none;
.search is display: block;




*/


.player {
  display: none;
  text-align: center;
  height: 100px;
}

.music-player {
}

.player-show {
  display: block;
}

.search {
  display: inline-block;
  text-align: center;
  margin: 30vh 0px 0px 25vw;
  border-radius: 5px;
  box-shadow: 6px 9px 18px -10px rgba(0,0,0,0.67);
  transition: all 0.5;
}

.search-small {
  display: block;
  margin: 0px 0px 20px 0px;
  text-align: center;
  box-shadow: none;
  transition: all 1s;
}

.search label {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.search-input {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: darkgrey;
  width: 50vw;
  margin: 20px 40px;
  padding: 10px;
  border-radius: 5px;

}

.search-button {
  background-color: white;
  border: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 15px;
}


.results {
  display: none;
}

.results-show {
  display: block;
}


.result-box {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/*ul {

}*/

ul:nth-child(1) {
  background-color: #E1386B;
  transition: all 2s;
}

ul:nth-child(2) {
  background-color: #8738E1;
}

ul:nth-child(3) {
  background-color: #3896E1;
}

ul:nth-child(4) {
  background-color: #38E1C2;
}

ul:nth-child(5) {
  background-color: #38E178;
}

ul:nth-child(6) {
  background-color: #E1C238;
}

ul:nth-child(7) {
  background-color: #E14C38;
}

ul:nth-child(8) {
  background-color: #E45252;
}


.album-art {
  padding: 120px 130px;
  grid-area: 1 / 1 / 3 / 2;
}

.album-art img{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.75);
}



.band-name {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
  grid-area: 1 / 2 / 2 / 3;
}

.song-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: darkgrey;
  text-align: center;
  padding: 50px;
  grid-area: 2 / 2 / 3 / 3;
}
